Repository fkie-cad/FACT_core, pull requests merged in 2018-02, with the labels that each got.

#69 Refactoring and test coverage
  .gitignore
  src/helperFunctions/program_setup.py
  src/init_database.py
  src/migrate_database.py
  src/start_fact.py
  src/start_fact_backend.py
  src/start_fact_db.py
  src/start_fact_frontend.py
  src/test/unit/helperFunctions/test_program_setup.py
  src/update_statistic.py
  src/update_variety_data.py
Labels: refactoring

#71 more software signatures added
  src/plugins/analysis/software_components/signatures/bootloader.yara
  src/plugins/analysis/software_components/signatures/hp.yara
  src/plugins/analysis/software_components/signatures/http_server.yara
  src/plugins/analysis/software_components/signatures/network.yara
  src/plugins/analysis/software_components/signatures/phone_modem.yara
  src/plugins/analysis/software_components/test/data/software_component_test_list.txt
Labels: analysis, enhancement

#70 xerox unpacker added
  src/plugins/unpacking/xerox/__init__.py
  src/plugins/unpacking/xerox/code/__init__.py
  src/plugins/unpacking/xerox/code/dlm.py
  src/plugins/unpacking/xerox/code/dsk.py
  src/plugins/unpacking/xerox/code/dsk_extended.py
  src/plugins/unpacking/xerox/code/postscript.py
  src/plugins/unpacking/xerox/internal/__init__.py
  src/plugins/unpacking/xerox/internal/dsk_container.py
  src/plugins/unpacking/xerox/test/__init__.py
  src/plugins/unpacking/xerox/test/data/DLM-First_1MB.DLM
  src/plugins/unpacking/xerox/test/data/invalid_file
  src/plugins/unpacking/xerox/test/data/test.dsk1
  src/plugins/unpacking/xerox/test/data/test.dsk_ext
  src/plugins/unpacking/xerox/test/data/xerox.ps
  src/plugins/unpacking/xerox/test/test_container_dsk_one.py
  src/plugins/unpacking/xerox/test/test_dlm.py
  src/plugins/unpacking/xerox/test/test_dsk.py
  src/plugins/unpacking/xerox/test/test_dsk_extended.py
  src/plugins/unpacking/xerox/test/test_postscript.py
  src/web_interface/templates/about.html
Labels: unpacking

#77 Refactoring and test coverage
  src/helperFunctions/yara_signature_testing.py
  src/init_database.py
  src/migrate_database.py
  src/plugins/unpacking/uboot/test/test_plugin_uboot.py
  src/test/acceptance/run_scripts/test_run_scripts.py
  src/test/acceptance/test_io_routes.py
  src/update_statistic.py
  src/update_variety_data.py
  src/web_interface/components/io_routes.py
Labels: refactoring
