Repository fkie-cad/FACT_core, pull requests merged in 2018-11, with the labels that each got.

#170 Python based installation
  INSTALL.md
  src/bootstrap/bootstrap_backend.sh
  src/bootstrap/bootstrap_common.sh
  src/bootstrap/bootstrap_db.sh
  src/bootstrap/bootstrap_frontend.sh
  src/bootstrap/patches/yara.patchfile
  src/helperFunctions/install.py
  src/install.py
  src/install/__init__.py
  src/install/backend.py
  src/install/common.py
  src/install/db.py
  src/install/fact_env.sh
  src/install/frontend.py
  src/install/patches/bootstrap-theme.patch
  src/install/patches/bootstrap.patch
  src/install/pre_install.sh
  src/install/radare/Dockerfile
  src/install/radare/docker-compose.yml
  src/install/radare/install.sh
  src/install/radare/nginx/Dockerfile
  src/install/radare/nginx/nginx.conf
  src/plugins/unpacking/dji/install.sh
  src/plugins/unpacking/uefi/install.sh
  src/plugins/unpacking/vxworks/install.sh
  src/test/unit/helperFunctions/test_install.py
  src/web_interface/templates/about.html
Labels: refactoring

#172 dahua unpacker added
  src/mime/custom_mime_firmware_containers
  src/plugins/unpacking/dahua/__init__.py
  src/plugins/unpacking/dahua/code/__init__.py
  src/plugins/unpacking/dahua/code/dahua.py
  src/plugins/unpacking/dahua/test/__init__.py
  src/plugins/unpacking/dahua/test/data/dh.bin
  src/plugins/unpacking/dahua/test/test_dahua.py
  src/web_interface/templates/about.html
Labels: enhancement, unpacking

#176 handling distutils case seperately
  src/helperFunctions/install.py
Labels: bug

#178 Deploy linter plugin
  src/config/main.cfg
  src/plugins/analysis/linter/__init__.py
  src/plugins/analysis/linter/code/__init__.py
  src/plugins/analysis/linter/code/source_code_analysis.py
  src/plugins/analysis/linter/install.sh
  src/plugins/analysis/linter/internal/config/.jshintrc
  src/plugins/analysis/linter/internal/config/.luacheckrc
  src/plugins/analysis/linter/internal/js_linter.py
  src/plugins/analysis/linter/internal/lua_linter.py
  src/plugins/analysis/linter/internal/python_linter.py
  src/plugins/analysis/linter/internal/shell_linter.py
  src/plugins/analysis/linter/test/__init__.py
  src/plugins/analysis/linter/test/test_js_linter.py
  src/plugins/analysis/linter/test/test_lua_linter.py
  src/plugins/analysis/linter/test/test_python_linter.py
  src/plugins/analysis/linter/test/test_shell_linter.py
  src/plugins/analysis/linter/test/test_source_code_analysis.py
  src/plugins/analysis/linter/view/source_code_analysis.html
  src/web_interface/templates/about.html
Labels: analysis, feature

#183 Align version naming
  src/helperFunctions/mongo_task_conversion.py
  src/test/acceptance/rest/test_rest_compare.py
  src/test/acceptance/test_compare_firmwares.py
  src/test/acceptance/test_misc.py
  src/test/acceptance/test_upload_analyze_delete_firmware.py
  src/test/common_helper.py
  src/test/integration/web_interface/rest/test_rest_firmware.py
  src/test/unit/helperFunctions/test_mongo_task_conversion.py
  src/test/unit/web_interface/rest/test_rest_firmware.py
  src/test/unit/web_interface/test_app_re_analyze.py
  src/test/unit/web_interface/test_app_upload.py
  src/web_interface/rest/rest_firmware.py
  src/web_interface/templates/upload/re-analyze.html
  src/web_interface/templates/upload/upload.html
Labels: gui, rest api
