Repository fkie-cad/FACT_core, pull requests merged in 2018-03, with the labels that each got.

#80 Add file header plugin
  src/compare/compare.py
  src/plugins/compare/file_header/__init__.py
  src/plugins/compare/file_header/code/__init__.py
  src/plugins/compare/file_header/code/file_header.py
  src/plugins/compare/file_header/test/__init__.py
  src/plugins/compare/file_header/test/test_file_header.py
  src/plugins/compare/file_header/view/file_header.html
  src/test/unit/compare/test_compare.py
  src/test/unit/scheduler/test_compare.py
  src/test/unit/web_interface/test_additional_functions.py
  src/web_interface/components/additional_functions/hex_dump.py
Labels: compare, feature

#73 Experimental authentication
  src/bootstrap/bootstrap_backend.sh
  src/bootstrap/bootstrap_frontend.sh
  src/config/ascii.py
  src/config/main.cfg
  src/config/nginx.conf
  src/helperFunctions/config.py
  src/manage_users.py
  src/plugins/analysis/dummy/routes/routes.py
  src/test/acceptance/auth_base.py
  src/test/acceptance/base.py
  src/test/acceptance/test_authenticated_gui.py
  src/test/data/user_test.db
  src/test/integration/web_interface/rest/base.py
  src/test/unit/test_manage_users.py
  src/test/unit/web_interface/base.py
  src/test/unit/web_interface/rest/conftest.py
  src/test/unit/web_interface/test_app_compare.py
  src/version.py
  src/web_interface/components/ajax_routes.py
  src/web_interface/components/analysis_routes.py
  src/web_interface/components/compare_routes.py
  src/web_interface/components/database_routes.py
  src/web_interface/components/io_routes.py
  src/web_interface/components/jinja_filter.py
  src/web_interface/components/miscellaneous_routes.py
  src/web_interface/components/statistic_routes.py
  src/web_interface/frontend_main.py
  src/web_interface/rest/rest_binary.py
  src/web_interface/rest/rest_compare.py
  src/web_interface/rest/rest_file_object.py
  src/web_interface/rest/rest_firmware.py
  src/web_interface/security/__init__.py
  src/web_interface/security/authentication.py
  src/web_interface/security/decorator.py
  src/web_interface/security/privileges.py
  src/web_interface/templates/about.html
  src/web_interface/templates/base.html
  src/web_interface/templates/security/_macros.html
  src/web_interface/templates/security/login_user.html
  src/web_interface/templates/security/send_login.html
Labels: enhancement, gui

#84 apt -> apt-get
  src/bootstrap/bootstrap_common.sh
  src/bootstrap/bootstrap_db.sh
  src/plugins/unpacking/squashFS/install.sh
Labels: refactoring

#85 added safe check
  src/web_interface/components/database_routes.py
Labels: bug

#83 Known vulnerability plugin
  src/plugins/analysis/known_vulnerabilities/__init__.py
  src/plugins/analysis/known_vulnerabilities/code/__init__.py
  src/plugins/analysis/known_vulnerabilities/code/known_vulnerabilities.py
  src/plugins/analysis/known_vulnerabilities/internal/__init__.py
  src/plugins/analysis/known_vulnerabilities/internal/rulebook.py
  src/plugins/analysis/known_vulnerabilities/signatures/vulnerabilities.yara
  src/plugins/analysis/known_vulnerabilities/test/__init__.py
  src/plugins/analysis/known_vulnerabilities/test/data/empty
  src/plugins/analysis/known_vulnerabilities/test/data/sc.json
  src/plugins/analysis/known_vulnerabilities/test/data/testfile
  src/plugins/analysis/known_vulnerabilities/test/test_known_vulnerabilities.py
  src/plugins/analysis/known_vulnerabilities/test/test_rulebook.py
  src/plugins/analysis/known_vulnerabilities/test/test_vulnerabilities.py
  src/plugins/analysis/known_vulnerabilities/view/known_vulnerabilities.html
  src/statistic/update.py
  src/test/integration/statistic/test_update.py
  src/test/unit/web_interface/test_filter.py
  src/web_interface/components/jinja_filter.py
  src/web_interface/components/statistic_routes.py
  src/web_interface/filter.py
  src/web_interface/templates/about.html
  src/web_interface/templates/show_statistic.html
Labels: analysis, feature
